/*ie*/
.login-page {
  display: table;
  position: relative;
}
.login-page .login-box-wrapper {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
}
.login-page .login-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -50%;
}
.c-main {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  background: none;
  margin: auto;
  z-index: -1;
}
.pagination-wrapper .pagination .jump {
  vertical-align: text-bottom;
  line-height: 20px;
}
.pagination-wrapper .pagination .jump .jump-page {
  vertical-align: middle;
}
.pagination-wrapper .pagination .jump .jumper {
  padding: 0 7px;
  vertical-align: middle;
}
.pagination-wrapper .pagination .pager-extra {
  vertical-align: top;
}
.search-option .so-item {
  margin-right: 30px;
}
.search-option .so-item input,
.search-option .so-item select {
  vertical-align: middle;
  line-height: 36px;
}
